<html>
    <head>

    </head>

    <body>

    <section class="hero">

      <div class="row intro">

        <div class="small-centered medium-uncentered medium-6 large-7 columns">

          <h1>Welcome to whyVOTE.</h1>

          <p>Find out which party you align with for the 2015 federal election.</p>
          <p>
            <button style="width: 60%; align: center;">Complete survey now</button></br>
          </p>
        </div>

        <div class="small-centered medium-uncentered medium-6 large-5 columns">

        <div class="see_friends">
          <a href="">See which of your friends are using whyVOTE</a></br>

          <button href="#" class="facebook radius button split">
            <span></span>sign in with facebook</button>

          <div class="login">

            <input type="text" name="user" placeholder="username"></input>

            <input type="password" name="password" placeholder="password"></input>
            </br>
            <input type="button" value="Login"></input>

          </div>

        </div>

      </div>

    </section>


    </body>
</html>
