<!DOCTYPE HTML>
<html>

<head>
  <title>Example page</title>
</head>

<body>
<div class="home-background">
  <div class="large-6-home">
    <img src="<%= asset_path 'Whyvote_logo_transparent.png' %>" width="60%"/>
    </br></br>
    <span style="font-size: 0.9rem;">
      Find out which party you align with for the 2015 federal election.</br>
      Compare with friends.</span><br></br>
    <div class="login">
        <input type="text" name="email" placeholder="Email"></input>
        <input type="password" name="password" placeholder="Password"></input>
        <%= button_to 'Login', pages_home_page_logged_in_path, :method => :get %>
    </div>
    <br>

    <%= link_to "Don't have an account? Sign up", new_user_registration_path %>
  </div>
</div>
</body>
</html>