


/*this is for registrations/edit*/
#content {
    margin: auto;
    border-radius: 20px;
    width:650px;
    overflow: auto;
    padding: 25px;
    top: 100px;
    background-color: #eaeaea;
    text-align: justify;
}

.profile-pic{
    float:left;
    img {
        width: 200px;
        height: auto;
        border: 5px solid #ffffff;
    }
}

.info {
    width:400px;
    float: right;
}

.cancel {
    text-align:center;
}