/*Create a team CSS stuff - Mike*/

#bigscreen
{
    width: 1000px;
    height: 700px;
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
    color: black;
    padding: 15px;
    overflow-x: auto;
    overflow-y: auto;
}

#biggscreen
{
    width: 1000px;
    height: 700px;
    border: 1px solid black;
    border-left: none;
    background-color: white;
    margin: -350px 0 0 -500px;
    color: black;
    padding: 15px;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    top: 50%;
}

#photo
{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

#placeholder
{
    margin-left: 40px;
    margin-top: 60px;
}

.middle
{
    margin-left: 200px;
    margin-bottom: 25px;
}

.fields
{
    width: 700px;
    margin-bottom: 10px;
}

#description
{
    height: 250px;
}

#UW
{
    margin-left: 200px;
}

#firstCol
{
    float: left;
    display: table;
    margin: 10px;
}

.teamDesc
{
    text-align: center;
    margin: auto;
    display: block;
}

.teamphd
{
    width: 220px;
    height: 40px;
}

.teamimg
{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 1px solid black;
}

#otherCol
{
    display: table;
    margin: 10px;
    float: left;
}

.joinTeamPosition
{
    margin-left: 50px;
    margin-bottom: 15px;
}

#mikenavbar
{
    height: 620px;
    margin-left: 365px;
    margin-top: 5px;
    float: left;
}

#mikenavbar #holder
{
    width: 162px;
    height: 673px;
    border-right: 1px solid black;
    padding-top: 60px;
}

#mikenavbar #holder ul
{
    list-style: none;
    margin:0;
    padding: 0;
}

#mikenavbar #holder ul li a
{
    text-decoration: none;
    margin-right: 5px;
    color: black;
    border: 1px solid black;
    padding: 20px;
    width: 120px;
    display: block;
    background: grey;
}

#mikenavbar #holder ul li a:hover
{
    background: green;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#holder ul li a#onlink
{
    background: green;
    color: black;
    boder-right: 1px solid white;
}

#holder ul li a#onlink:hover
{
    background: white;
    color: blue;
    text-shadow: 1px 1px 1px black;
}

.leftSide
{
    float: left;
    width: 300px;
    height: 700px;
}

.inbetween
{
    float: left;
    width: 300px;
    height: 700px;
}

.rightSide
{
    float: left;
}

#pcHolder
{
    height: 200px;
    width: 260px;
    margin: auto;
    border: 1px solid black;
}

#membersTitle
{
    border-bottom: 1px solid black;
    width: 368px;
    height: 50px;
}

#membersTitle h2
{
    margin: auto;
    text-align: center;
}

.leftSide p
{
    margin-left: 35px;
}

#recentActivity
{
    margin: auto;
    height: 280px;
    width: 260px;
    border: 1px solid black;
}

#VSteam
{
    height: 80px;
    width: 260px;
    margin: auto;
    border: 1px solid black;
}

#wall
{
    width: 260px;
    height: 667px;
    border: 1px solid black;
    margin: 10px;
}

#wall div h3
{
    margin: auto;
    text-align: center;
}

#wallTitle
{
    height: 50px;
    border-bottom: 1px solid black;
}

#wall div table tr td
{
    padding: 20px;
}

#wall div table
{
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
}

#wall div textarea
{
    height: 80px;
    width: 221px;
    margin-left: 15px;
}

.wallPost
{
    border: 1px solid black;
    margin-left: 15px;
    height: 180px;
    width: 225px;
    margin-top: 25px;
}

#membersBox
{
    width: 368px;
    height: 667px;
    border: 1px solid black;
    margin-top: 10px;
}