$font-size: 14px;
$link-colour: #696969;
$back-colour: #eaeaea;
$button-back: #6495ed;
$button-text: #ffffff;

/*for all*/
html{
    font-size: $font-size;
    font-family: sans-serif;
    background-color: $back-colour;
}

a{
    color: $link-colour;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
&:hover{
     opacity: .7;
     -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }
}

#content{
    width: 500px;
    margin: auto;
    padding-top:100px;
}
/*for all*/



/*picture part*/
#profile{
    width:80px;
    height:120px;
}

.picture img{
    width:80px;
    height: auto;
    border-radius: 5px;
}

.name{
    font-size:9px;
    color:darkseagreen;
    padding-bottom: 60px;
    text-align: center;
.name a{
    text-decoration: none;
}
}
/*picture part*/



/*Thanks for creating a profile*/
form{
    text-align: center;
    padding: 10px;
}

fieldset{
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
}

input[type=submit]{
    padding: 10px;
    background: antiquewhite;
    font-size: 14px;
    box-shadow: 0px 2px 1px 0px #ccc;
&:hover{
     cursor: pointer;
 }
}

.skip {
    padding-top:20px;
    font-size:12px;
    float: right;
}
/*Thanks for creating a profile*/



/*Results of your profile match*/
#results{
    width:500px;
    overflow: auto;
    margin-top:15px;
    border-radius: 10px;
    background-color: white;
    border: 1.3px dimgrey solid;
    display: inline-block;
    padding: 20px;
}

.percent{
    font-size:60px;
    padding-right:15px;
    display: inline-block;
img{
    width:50px;
    height: 50px;
    border-radius:5px;
    margin-left: 20px;
    box-shadow: 0px 1px 1px 0px black;
}
}

.view {
    padding-top:10px;
    font-size:12px;
    text-align:right;
}

button{
    color: $button-text;
    padding:5px;
    margin: 5px;
    background-color: $button-back;
&:hover{
     cursor: pointer;
 }
}

select{
    color: $button-text;
    padding:5px;
    margin: 5px;
    background-color: $button-back;
}
/*Results of your profile match*/



/*Results of policy match*/
#bigger-content{
    width: 600px;
    margin: auto;
    padding-top:100px;
}

#bigger-results{
    overflow: auto;
    margin-top:15px;
    border-radius: 10px;
    background-color: white;
    border: 1.3px dimgrey solid;
    display: inline-block;
    padding: 20px;
}

.why-views{
    width:330px;
    padding-top:35px;
    float:right;
    text-align:justify;
}
/*Results of policy match*/



/*Results compared to overall population*/
.compare{
    font-size: 12px;
}
/*Results compared to overall population*/



/*The following friends match you on this issue*/
#all{
    width:600px;
    overflow: auto;
    margin-top:15px;
    border-radius: 10px;
    background-color: white;
    border: 1.3px dimgrey solid;
    padding: 20px;
}

.title{
    font-size:45px;
    text-decoration: underline;
}

.you{
    float: left;
    width:230px;
    text-align: center;
}

.friends{
    float: right;
    width:330px;
}

.friend-pic{
a{
    font-size:12px;
    vertical-align: 19px;
}
img{
    width:50px;
    height: 50px;
    border-radius:5px;
    margin-top:15px;
    border: 2px solid #eee;
}
}
/*The following friends match you on this issue*/



/*whyVote members*/
.members{
    width: 480px;
    height:100px;
    margin-left: 10px;
    margin-right:10px;
    float:right;
    display: block;
img{
    width:80px;
    height:80px;
    margin: 15.5px;
    border: 3px solid white;
}
}

.members-text{
    width: 80px;
    height: 60px;
    overflow: auto;
    text-align:center;
    margin-left:18.5px;
    margin-right:18.5px;
    font-size:11px;
    display: inline-block;
    vertical-align: top;
}
/*whyVote members*/