<!DOCTYPE HTML>
<html>
<link href="../../assets/stylesheets/policymatch.css" media ="screen" rel ="stylesheet"/>

<head>
    <title>Whyvote Members</title>
</head>

<body>
<div id="bigger-content">
    <div id="profile">
        <div class="picture"><img src="https://40.media.tumblr.com/tumblr_m1ez6apqJ51qzzelmo1_500.png"/></div>
        <div class="name"><a href="/">WhyVote</a></div>
    </div>

    <div class="members">
        <div style="font-size: 30px; text-align:left; margin-bottom:15px;"> whyvote Members (166)</div>

        <button type="button" onclick="location.href='/'" >Search Members</button>
        <button type="button" onclick="location.href='/'" style="float: right">Add Members</button></br>

        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <div class="members-text">Alison Lotes </br> 3M Marketing Intern</div>
        <div class="members-text">Josh Willis </br> Student at the University of Waterloo</div>
        <div class="members-text">Mavis Chan </br> Environment and business student</div>
        <div class="members-text">Amy Adams </br> Barista at Starbucks</div>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <div class="members-text">Lola Rose </br> Server at Lilo</div>
        <div class="members-text">Eric Lamda </br> Intern at Toyota</div>
        <div class="members-text">Ria Mak </br> VP Marketing at...</div>
        <div class="members-text">Adam Amy </br> Weather Woman at the Weather Network</div>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <div class="members-text">Lola Rose </br> Server at Lilo</div>
        <div class="members-text">Eric Lamda </br> Intern at Toyota</div>
        <div class="members-text">Ria Mak </br> VP Marketing at...</div>
        <div class="members-text">Adam Amy </br> Weather Woman at the Weather Network</div>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <a href="/"><img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/></a>
        <div class="members-text">Lola Rose </br> Server at Lilo</div>
        <div class="members-text">Eric Lamda </br> Intern at Toyota</div>
        <div class="members-text">Ria Mak </br> VP Marketing at...</div>
        <div class="members-text">Adam Amy </br> Weather Woman at the Weather Network</div>

    </div>
</div>
</body>
</html>