<!DOCTYPE HTML>
<html>

<head>
    <title>whyVote user profile</title>
</head>

<body>
<div id="navbar-ashley">
    <div id="profile">
        <div class="picture"><img src="https://40.media.tumblr.com/tumblr_m1ez6apqJ51qzzelmo1_500.png"/></div>
        <div class="name"><a href="/">WhyVote</a></div>
    </div>
    <div id="holder">
        <ul>
            <li><a href="https://www.google.com">My Team Profile</a></li>
            <li><a href="Tab2.html">Team Dashboard</a></li>
            <li><a href="Tab3.html">View Teams</a></li>
            <li><a href="Tab4.html">Blog</a></li>
            <li><a href="Tab5.html">Discussion Forum</a></li>
        </ul>
    </div>
</div>
<div id="page-ashley">
    My profile
    <div id="profile-top">
        <div class="profile-photo"><img src="https://40.media.tumblr.com/tumblr_m1ez6apqJ51qzzelmo1_500.png"/></div>
        <div class ="profile-descrip"><span style="font-size: 45px;">Mavis Chan</br></span>
            University of Waterloo, team Ecofreaks</br>
            <span style="font-size: 65px">73%</span>
            <img src="https://40.media.tumblr.com/c4c5423351fe4d37c6b77d356ae4b74e/tumblr_nqh8inTm511qzzelmo1_1280.png" width="50px" height="auto" style="border-radius: 5px; margin-left:10px;"/></div>
    </div>
    <div id="profile-middle">
        <b>Vote status</b>
        <select>
            <option value="No_Vote">Not yet voted</option>
            <option value="Yes_Vote">Voted</option>
        </select>
        </br></br><b>Studies</b></br>Environment and business</br>2011 to 2016 (expected)
        </br></br><b>More about me</b></br>I am passionate about climate change and sustainable energy policy. Hoping to get more youth to vote in a non-partisan manner.
        </br></br><b>Likes</b></br>Sustainability, economy, don't vote for Mulcair
    </div>
    <div id="profile-right">
        Recent activity</br>Joined EcoFreaks</br>Posted on thread "ID Required"</br>Joined conversation "Harper"
    </div>
</div>

</body>
</html>