<div class="row">
  <img src="<%= asset_path 'Whyvote_logo.jpg' %>" width = "100%"/>
</div>

<div class="row" id="navbarr">
  <div id="search-bar"><input type="text" placeholder="Search users/topics"></input></div>
  <a class="navbarr-elem" href="#">My Profile</a>
  <a class="navbarr-elem" href="#">Home</a>
  <a class="navbarr-elem" href="#">Teams</a>
  <a class="navbarr-elem" href="#">Current Policy Questions</a>
  <a class="navbarr-elem" href="#">Discussion Forums</a>
</div>

<div class="row">

  <div class = "large-3">
    <h3 style="background-color: #848484; color: #424242; width: 100%; padding: 0.9375rem; margin: 0; text-align: center;">News Articles</h3>
  </div>

  <div class = "large-3 panel">
    <img src="http://www.macleans.ca/wp-content/uploads/2014/02/Justin.Trudeau-300x300.jpg" width="40%" style="margin: 20px"/><a href="">Sample link 1</a>
    <img src="https://www.digitalgov.gov/files/2014/05/250-x-250-canadian-flag-3-canada.jpg" width="40%" style="margin: 20px"/><a href="">Sample link 2</a>
    <img src="https://d2ciprw05cjhos.cloudfront.net/files/v3/styles/gs_large/public/images/15/03/fkem1fqj_400x400.jpeg?itok=W_rsoA0Q" width="40%" style="margin: 20px"/><a href="">Sample link 3</a>
  </div>



  <div class="large-9">

    <fieldset style="border: 1px solid black; width: 95%; height: 95%; margin-left: auto; margin-right: auto; padding: none;">
      <legend>whyVOTE Users</legend>

      <div style="width: 100%; margin: auto; background-color: #D83431;">
        <h3 style="text-align: center; color: white; padding: 5px;">Users (217)</h3>
      </div>
      <div style="width: 100%; height: 100%; background-color: #CCCCCC; padding-top: 50px; margin-top: -10px; padding: 15px;">
        <div style="width: 100%; padding-left: 25px; margin-top: 10px;">
          <h3 style="float: left; margin-right: 20px; margin-top: 0px;">Total Users (217)</h3>
          <form method="get" action="search.php">
            <input id="searchBox" type="text" placeholder="Find a user" style="margin-right: 15px;">
            <a href="#" class="button tiniest"><span style="font-size:1.1rem; vertical-align: middle">+</span>  Add People</a>
          </form>
        </div>

        <div style="padding-left: 70px;">
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
          </div>
        </div>


        <div style="padding-left: 70px;">
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button disabled style="background: white; color: black; height: 40px; width: 180px; padding-top: 0px;"><img src="http://uxrepo.com/static/icon-sets/ionicons/svg/ios7-checkmark-empty.svg" style=" height: 50px; width: 60px; margin-top: -5px; margin-left: -35px; border: none; margin-right: -15px;"><b>Friends</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button style="background: white; color: black; height: 40px; line-height: 10px; width: 180px;"><b>+ Add Friend</b></button>
                                </span>
                            </span>
          </div>
        </div>


        <div style="padding-left: 70px;">
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button style="background: white; color: black; height: 40px; line-height: 10px; width: 180px;"><b>+ Add Friend</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button style="background: white; color: black; height: 40px; line-height: 10px; width: 180px;"><b>+ Add Friend</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button style="background: white; color: black; height: 40px; line-height: 10px; width: 180px;"><b>+ Add Friend</b></button>
                                </span>
                            </span>
          </div>
        </div>


        <div style="padding-left: 70px;">
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button style="background: white; color: black; height: 40px; line-height: 10px; width: 180px;"><b>+ Add Friend</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button style="background: white; color: black; height: 40px; line-height: 10px; width: 180px;"><b>+ Add Friend</b></button>
                                </span>
                            </span>
          </div>
          <div style="margin-left: 1.2rem; margin-right: 1.2rem; width: 33%; display: inline-block; margin: auto; text-align: left;">
                            <span class="friend-pic">
                                <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                                <span class="friend-pic">
                                    <p style="margin-top: 30px;"><b>Waka Flocka Flame</b></p>
                                    <button style="background: white; color: black; height: 40px; line-height: 10px; width: 180px;"><b>+ Add Friend</b></button>
                                </span>
                            </span>
          </div>
        </div>


        <div style="background: #D83431; color: white; width: 250px; height: 60px; text-align: center; line-height: 58px; margin-top: 15px; margin-left: 895px;">
          <a href="#" style="margin-right: 5px; color: white;">First</a><a href="#" style="color: white;"><<</a> 1-4 of 4 <a href="#" style="color: white;">>></a><a href="#" style="margin-left: 5px; color: white;">Last</a>
        </div>

      </div>
    </fieldset>
  </div>
</div>