<!DOCTYPE HTML>
<html>
<link href="/assets/stylesheets/policymatch.css" media ="screen" rel ="stylesheet"/>
<head>
  <title>The following friends match with you on this issue</title>

</head>

<body>
<div id="bigger-content">
  <div id="profile">
    <div class="picture"><img src="https://40.media.tumblr.com/tumblr_m1ez6apqJ51qzzelmo1_500.png"/></div>
    <div class="name"><a href="/">WhyVote</a></div>
  </div>
  <b>The following friends match with you on this issue</b>
  <div id="all">
    <div class="you">
      <div class="title">You</div></br>
      <div class="percent">73%</br>
        <img src="https://40.media.tumblr.com/c4c5423351fe4d37c6b77d356ae4b74e/tumblr_nqh8inTm511qzzelmo1_1280.png"/>
      </div>
    </div>
    <div class="friends">
      <div class="title">Your friends</div></br>
      Should there be a cap on post-secondary tuition? </br>
      <a href="/">Yes - Your views align with Liberatarians</a>
      <div class="friend-pic">
        <img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/>
        <img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/>
        <img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/>
        <img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/>
        <a href="/">and 6 more...</a>
      </div>
      Should post-secondary tuiton be a provincial or federal issue?</br>
      <a href="/">Yes - Your views align with Liberatarians</a>
      <div class="friend-pic">
        <img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/>
        <img src="https://41.media.tumblr.com/tumblr_m9tgh62o061qzzelmo1_500.png"/>
      </div>
    </div>
  </div>


</div>
</body>
</html>

