
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">


<div class="row">
  <img src="<%= asset_path 'Whyvote_logo.jpg' %>" width = "100%"/>
</div>

<div class="row" id="navbarr">
  <div id="search-bar"><input type="text" placeholder="Search users/topics"></input></div>
  <a class="navbarr-elem" href="#">My Profile</a>
  <a class="navbarr-elem" href="#">Home</a>
  <a class="navbarr-elem" href="#">Teams</a>
  <a class="navbarr-elem" href="#">Current Policy Questions</a>
  <a class="navbarr-elem" href="#">Discussion Forums</a>
</div>

<div class="row">

  <div class = "large-3">
    <h3 style="background-color: #848484; color: #424242; width: 100%; padding: 0.9375rem; margin: 0; text-align: center;">News Articles</h3>
  </div>

  <div class = "large-3 panel">
    <img src="http://www.macleans.ca/wp-content/uploads/2014/02/Justin.Trudeau-300x300.jpg" width="40%" style="margin: 20px"/><a href="">Sample link 1</a>
    <img src="https://www.digitalgov.gov/files/2014/05/250-x-250-canadian-flag-3-canada.jpg" width="40%" style="margin: 20px"/><a href="">Sample link 2</a>
    <img src="https://d2ciprw05cjhos.cloudfront.net/files/v3/styles/gs_large/public/images/15/03/fkem1fqj_400x400.jpeg?itok=W_rsoA0Q" width="40%" style="margin: 20px"/><a href="">Sample link 3</a>
  </div>

  <div class="large-9" style="margin-top: 129px; margin-left: 0px; width: 74.6%;">

    <div id="survey-header">
      <h1>Political Survey</h1>
      <h4>Complete to see where you align!</h4>
    </div>

    <div class="surveyQsection">

      <div class="surveyQuestion">
        <h5>Should terminally ill patients be allowed to end their lives via assisted suicide?</h5>
        <li class="checkboxes"><input type="checkbox">Yes</input></li>
        <li class="checkboxes"><input type="checkbox">No</input></li>
        <li class="checkboxes"><input type="checkbox">Other stances</input></li>
      </div>

      <div class="Qimportance">
        <ul class="button-group round toggle" data-toggle="buttons-radio">
          <li>
            <input type="radio" id="a1" name="a-group" data-toggle="button">
            <label class="button" for="a1">1</label>
          </li>
          <li>
            <input type="radio" id="a2" name="a-group" data-toggle="button">
            <label class="button" for="a2">2</label>
          </li>
          <li>
            <input type="radio" id="a3" name="a-group" data-toggle="button">
            <label class="button" for="a3">3</label>
          </li>
          <li>
            <input type="radio" id="a4" name="a-group" data-toggle="button">
            <label class="button" for="a4">4</label>
          </li>
          <li>
            <input type="radio" id="a5" name="a-group" data-toggle="button">
            <label class="button" for="a5">5</label>
          </li>
        </ul>
        <p style="margin-left: 1000px; margin-top: -30px;">How important is this to you?</p>
      </div>
    </div>

    <div class="surveyQsection">

      <div class="surveyQuestion">
        <h5>Should terminally ill patients be allowed to end their lives via assisted suicide?</h5>
        <li class="checkboxes"><input type="checkbox">Yes</input></li>
        <li class="checkboxes"><input type="checkbox">No</input></li>
        <li class="checkboxes"><input type="checkbox">Other stances</input></li>
      </div>

      <div class="Qimportance">
        <ul class="button-group round toggle" data-toggle="buttons-radio">
          <li>
            <input type="radio" id="b1" name="b-group" data-toggle="button">
            <label class="button" for="b1">1</label>
          </li>
          <li>
            <input type="radio" id="b2" name="b-group" data-toggle="button">
            <label class="button" for="b2">2</label>
          </li>
          <li>
            <input type="radio" id="b3" name="b-group" data-toggle="button">
            <label class="button" for="b3">3</label>
          </li>
          <li>
            <input type="radio" id="b4" name="b-group" data-toggle="button">
            <label class="button" for="b4">4</label>
          </li>
          <li>
            <input type="radio" id="b5" name="b-group" data-toggle="button">
            <label class="button" for="b5">5</label>
          </li>
        </ul>
        <p style="margin-left: 1000px; margin-top: -30px;">How important is this to you?</p>
      </div>
    </div>

    <div class="surveyQsection">

      <div class="surveyQuestion">
        <h5>Should terminally ill patients be allowed to end their lives via assisted suicide?</h5>
        <li class="checkboxes"><input type="checkbox">Yes</input></li>
        <li class="checkboxes"><input type="checkbox">No</input></li>
        <li class="checkboxes"><input type="checkbox">Other stances</input></li>
      </div>

      <div class="Qimportance">
        <ul class="button-group round toggle" data-toggle="buttons-radio">
          <li>
            <input type="radio" id="c1" name="c-group" data-toggle="button">
            <label class="button" for="c1">1</label>
          </li>
          <li>
            <input type="radio" id="c2" name="c-group" data-toggle="button">
            <label class="button" for="c2">2</label>
          </li>
          <li>
            <input type="radio" id="c3" name="c-group" data-toggle="button">
            <label class="button" for="c3">3</label>
          </li>
          <li>
            <input type="radio" id="c4" name="c-group" data-toggle="button">
            <label class="button" for="c4">4</label>
          </li>
          <li>
            <input type="radio" id="c5" name="c-group" data-toggle="button">
            <label class="button" for="c5">5</label>
          </li>
        </ul>
        <p style="margin-left: 1000px; margin-top: -30px;">How important is this to you?</p>
      </div>
    </div>

  </div>