<div id="mikenavbar">
  <div id="holder">
    <ul>
      <li><a href="#">My Team Profile</a></li>
      <li><a href="#">Team Dashboard</a></li>
      <li><a href="#" id="onlink">View Teams</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Discussion Forum</a></li>
    </ul>
  </div>
</div>

<div id="biggscreen">
  <h2 class="joinTeamPosition">Teams (16)</h2>
  <div class="joinTeamPosition">
    <button>Search Teams of Users</button>
    <button>Create New Team</button>
  </div>
  <div id="firstCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM ECO FREAKS</p>
    <p class="teamDesc">8 members</p>
    <p class="teamDesc">DONE: 70 surveys</p>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">HIPPOS</p>
    <p class="teamDesc">8 members</p>
    <p class="teamDesc">DONE: 45 surveys</p>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM RED</p>
    <p class="teamDesc">8 members</p>
    <p class="teamDesc">DONE: 23 surveys</p>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM ORANGE</p>
    <p class="teamDesc">6 members</p>
    <p class="teamDesc">DONE: 15 surveys</p>
  </div>
  <div id="firstCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM ECO FREAKS</p>
    <p class="teamDesc">8 members</p>
    <p class="teamDesc">DONE: 14 surveys</p>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">HIPPOS</p>
    <p class="teamDesc">8 members</p>
    <p class="teamDesc">DONE: 12 surveys</p>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM RED</p>
    <p class="teamDesc">8 members</p>
    <button class="teamDesc">Join</button>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM ORANGE</p>
    <p class="teamDesc">6 members</p>
    <button class="teamDesc">Join</button>
  </div>
  <div id="firstCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM ECO FREAKS</p>
    <p class="teamDesc">8 members</p>
    <button class="teamDesc">Join</button>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM MONKEY</p>
    <p class="teamDesc">5 members</p>
    <button class="teamDesc">Join</button>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM ECO FREAKS</p>
    <p class="teamDesc">5 members</p>
    <button class="teamDesc">Join</button>
  </div>
  <div id="otherCol" class="teamphd">
    <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
    <p class="teamDesc">TEAM ECO FREAKS</p>
    <p class="teamDesc">5 members</p>
    <button class="teamDesc">Join</button>
  </div>
</div>